PORT=3000

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=bd_rutas_turisticas

JWT_SECRET=cambia_esta_clave_en_produccion
JWT_EXPIRES_IN=24h
BCRYPT_ROUNDS=10

CORS_ORIGIN=http://localhost:4200

OPEN_METEO_URL=https://api.open-meteo.com/v1/forecast
